body {
  font-family: 'Open Sans', sans-serif;
  background: #B3D5AE;
  font-size: 14px;
  line-height: 22px;
  overflow-x: hidden;
}

::selection{
  background-color: #FFEC6E;
  color: #000;
}

::-moz-selection {
  background: #46c2ca;
  color: #000;
}

.container {
	width: 75%;
	height: 100%;
  padding:20px;
	background-color: #fff;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #CCC;
}

a {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.alert:empty {
  display:none;
}

p.alert.alert-info {
  padding: 7px;
  background: #DFF0D8;
}

p.alert.alert-danger {
  padding: 7px;
  background: #F2DEDE;
}

.flash-notice {
  padding: 7px;
  background: #D9EDF7;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

#chat-box {
  border: 1px #5171A5 solid;
  padding: 0 0 0 5px;
  min-height: 157px;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

#chat-form {
  width:100%;
}

#chat-form input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #5171A5;
  margin-top: 5px;
}

#chat-form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #5171A5;
  margin-top: 5px;

}

.chat-msg {
  padding: 5px; 
  border: 1px solid red;
  background: red;
  color: white;
}

.my-chat-msg {

  padding: 5px; 
  border: 1px solid blue;
  background: blue;
  color: white;
}

.nav-header {
  position: relative;
  width: 100%;
}

.nav-h1 {
  float: left;
  clear:none;
}

.nav-header .nav-link {
  float: right;
  margin: -40px 10px 10px 10px;
}

.nav-header .nav-link a {
  margin-left: 5px;
}

.btn-primary { 
  background-color: #5171A5;
  color: white;
  margin: 0px 10px 50px 0px;
}

.pull-right {
  float: right;
}


/* dice roller */
/* remove up and down arrows from number input */  
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#roller-times { 
 max-width: 3em; 
}

.dice-roller { 
  width: 100%;
}

.die { 
  box-sizing: border-box;
  display: inline-block;
  padding: 25px;
  text-align: center;
  margin-top: 5px;
  height: 1.5em;
  width: 10%;
  }
