    <h2>The Inn of the Last Home</h2>
    <%= if signed_in?(@conn) do %>
      <div id="chat-box">
        <%= for message <- @messages do %>
          <p><b><%= message.name %>:</b> <%= message.body %></p>
        <% end %>
      </div>
     <div id="user" data-id="<%= @current_user.id %>" data-name="<%= @current_user.username %>"></div> 
      <form id="chat-form">
        <textarea placeholder="Your comment" id="user-msg" autofocus='true'></textarea>
        <button type="submit" class="btn-primary pull-right">Post</button>
      </form>
      <div class="dice-roller">
        <h4>Dice Roller<small>(click on d20 to see)</small></h4>
        <div>
           Roll <input type="number" name="times" id="roller-times" min="0" max="100" value="1"/> Times
        </div>
        <div>
          <span class="die" data-die="100">d100</span>
          <span class="die" data-die="20">d20</span>
          <span class="die" data-die="12">d12</span>
          <span class="die" data-die="10">d10</span>
          <span class="die" data-die="8">d8</span>
          <span class="die" data-die="6">d6</span>
          <span class="die" data-die="4">d4</span>
        </div>
      </div>



    <% else %>
      <h4>Speak, friend, and enter</h4>
    <% end %>

